

	body {
		background-color: #042f4b;
		margin: 5px;
	}

	h1 {
		margin: 30px;
		font-family:"Indie Flower", cursive;
		text-shadow: 5px 0 #232931;
		font-size: 4rem;
		color:#4ecca3;
		text-align: center;
        background-color: rgb(238, 189, 197);
        font-style: italic;
        font-size:45px
	}
    

      h2 {
        margin: 30px;
		font-family:"Indie Flower", cursive;
		text-shadow: 5px 0 #232931;
		color:#4ecca3;
		text-align: center;
        font-style: italic;
        font-size:30px
        
      }

    h4 {
		background: #4ecca3;
		font-family: "Indie Flower", cursive;
		border-radius: 7px;
		color: #ffff;
		font-size: 30px;
		padding: 16px 25px 16px 25px;
		text-decoration: none;
	}

    h5 {
		background: #4ecca3;
		font-family: "Indie Flower", cursive;
        text-align: center;
		border-radius: 7px;
		color: #ffff;
		font-size: 15px;
		padding: 16px 25px 16px 25px;
		text-decoration: none;

    }

    h6 {
		background: #4ecca3;
		font-family: "Indie Flower", cursive;
		border-radius: 7px;
		color: #ffff;
		font-size: 15px;
		padding: 16px 25px 16px 25px;
		text-decoration: none;
       
    }
    h7 {
		background: #4ecca3;
		font-family: "Indie Flower", cursive;
		border-radius: 7px;
		color: #ffff;
		font-size: 15px;
		padding: 16px 25px 16px 25px;
		text-decoration: none;

    }


	p {
		font-size: 1.1rem;
		color: #4ecca3;
		font-family: "Indie Flower", cursive;
        text-align: left;
        margin-left: 5px;
        margin-right: 10px;
	}

	img {
		width: 50%;
	}

	.bottom {
		padding-top: 30px;
	}

	.butn {
		background: #4ecca3;
		font-family: "Indie Flower", cursive;
		border-radius: 7px;
		color: #ffff;
		font-size: 14px;
		padding: 15px 15px 15px 15px;
		text-decoration: none;
	}

	.butn:hover {
		background: #232931;
		text-decoration: none;
	}
    html {
        font-family: Sans-Serif;
        text-align: center;
            
      }
      
    /* This code centers the dice image on the main page - from w3schools*/
      img.class.img1 {
        display: inline-block;
        margin-left:auto;
        margin-right:auto;
        width: 35%
      }

      img.class.img2 {
        display: inline-block;
        margin-left:auto;
        margin-right:auto;
        width: 40%
      }

      img.class.img3 {
        display: inline-block;
        margin-left:auto;
        margin-right:auto;
        width: 40%
      }

      img.class.img4 {
        display: inline-block;
        margin-left:auto;
        margin-right:auto;
        width: 40%
      }

      img.class.img5 {
        display: inline-block;
        margin-left:auto;
        margin-right:auto;
        width: 40%
      }

      img.class.img6 {
        display: inline-block;
        margin-left:auto;
        margin-right:auto;
        width: 40%
      }

      img.class.img7 {
        display: inline-block;
        margin-left:auto;
        margin-right:auto;
        width: 40%
      }

      img.class.img8 {
        display: inline-block;
        margin-left:auto;
        margin-right:auto;
        width: 40%
      }

      img.class.img9 {
        display: inline-block;
        margin-left:auto;
        margin-right:auto;
        width: 40%
      }

      img.class.img10 {
        display: inline-block;
        margin-left:auto;
        margin-right:auto;
        width: 40%
      }
      
         
      h1 {
        background-color: rgb(238, 189, 197);
        font-style: italic;
        font-size:45px
      }

      h2 {
        font-style: italic;
        font-size:30px
      }
      
      .container {
        display:inline-grid;
        text-align: left;
        width: 200px;
        margin:auto;
      }

      main {
        display:inline-grid;
        text-align: left;
        width: 200px;
        margin:auto;
      }

    
